*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// $Primarycolor:#fff;
header{
    background-color: #202020;
   .container{
    max-width: 1100px;
    margin: auto;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        .main-left{
            display: flex;
             gap:12px;
        }
       .main-right{
          nav{
            ul{
            display: flex;
            list-style-type: none;
            gap:30px;
            color: #868686;
              li{
                  a{
                    text-decoration: none;
                    color:#fff;
                }
            }
          }
          button{
            width: 100px;
            height: 38px;
            background-color: #ff3939;
            border: none;
            color:$Primarycolor;
            border-radius: 10px;
           }
        }
       }
        
    }   
   }   
}
